# vxlite.config - top-level configuration file
#

mainmenu "vxlite configuration"

menu "General setup"

config HEAP_SIZE
    hex "vxl heap size"
    default 0x200000
    help
      Dynamically allocated memory size.

endmenu

config ENV_VAR_BSP
    string
    option env="bsp"

config ENV_VAR_ARCH
    string
    option env="arch"

source "arch/$ENV_VAR_ARCH/arch.config"

